<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="../logFiles/Pipe.log"
            archiveFileName="../logFiles/Pipe.{####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="5120000"
            layout="${date}|${level:uppercase=true}|${message} ${exception}"
            keepFileOpen="true"
            concurrentWrites="true"/>
    <target xsi:type="Console" name="consoleTarget"
            layout="${date}|${level:uppercase=true}|${message} ${exception}" />
  </targets>

  <rules>
    <!--<logger name="*" rulename="MainRule" minlevel="Trace" writeTo="fileTarget" /> -->
    <!--<logger name="*" rulename="ruleInfo" minlevel="Info" writeTo="fileTarget,consoleTarget" />
    <logger name="*" rulename="ruleWarn" minlevel="Warn" writeTo="fileTarget,consoleTarget" />
    <logger name="*" rulename="ruleWarnNoTarget" minlevel="Warn" writeTo="fileTargetNoTarget,consoleTargetNoTarget" />
    <logger name="*" rulename="ruleDebug" minlevel="Debug" writeTo="fileTarget,consoleTarget" />-->
    <logger name="*" rulename="ruleTrace" minlevel="Trace" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>